.container {
    width: 640px;
    background-image: url(conImage.png);
    background-size: cover;
    border-radius: 8px;
    margin: auto; 
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px 50px;
}

.container h1 {
    margin-left: 200px;
}

.container hr {
    height: 2px;
    background-color: rgb(34, 29, 29);
    border: none;
}

.container h2 {
    font-size: 27px;
    font-weight: 500;
}

ul {
    cursor: pointer;
    margin-left: 20px;
}

ul li {
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 10px;
    border: 1.5px solid rgb(49, 37, 7);
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    cursor: pointer;
}

.container button {
    margin: auto;
    width: 250px;
    height: 65px;
    background-color: blue;
    color: white;
    font-size: 25px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container p {
  margin: auto;
  font-size: 18px;
}

.correct {
    background-color: rgb(118, 243, 185);
    border: 1px solid rgb(75, 238, 75);
}

.wrong {
    background-color: rgb(243, 92, 92);
    border: 1px solid rgb(216, 24, 24);
}

h3{
    margin: auto;
}

@media(max-width:600px){
    .container{
        margin: auto;
        width: 80%;
        font-size: medium;
    }
    .container h2 {
        font-size: 20px;
        font-weight: 500;
    }
    ul {
        cursor: pointer;
        margin-left: 10px;
    }
    ul li{
        display: flex;
        align-items: center;
        height: 25px;
        padding-left: 10px;
    }
    .container button {
        margin: auto;
        width: 200px;
        height: 40px;
        font-size: 25px;
        font-weight: 500;
        border: none;
        border-radius: 8px;
        cursor: pointer;
    }
    
}


